@import url('https://fonts.googleapis.com/css2?family=Lacquer&family=Roboto:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
#btn_menu{
    display: none;
}
body{
    
    background-color: #1B1C20;
    padding-left: 50px;
    padding-right: 50px;

}
header{

    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{

    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.icon_hub{

    margin-left: 300px;
    
}

#nav{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}
#nav, li a{
    text-decoration: none;
    gap: 30px;
    color: white;
    font-size: 16px;
    
    
}
.logo_new{
    font-family: 'Lacquer', cursive;
    font-size: 64pt;
    background-image: linear-gradient( to right, #E30057, #8826D1);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-right: 300px;
}

.body_intro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}
.dev{
    margin-right: 50px;
}
.img_back{
    width: 380px;  
    margin-left: 150px;
}
.name{
    font-size: 28px;
    color: white;
}
.developer{
    font-size: 80px;
    color: white;
    margin-top: 30px;
    font-weight: bold;
}
.developer1{
    font-size: 80px;
    color: white;
    margin-top: -30px;
    font-weight: bold;
}
.speak{
    width: 230px;
    margin-top: 50px;
    height: 45px;
    background-image: linear-gradient( to right, #E30057, #8826D1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}
.about{
    font-size: 28px;
    font-weight: bold;
    color: #1B1C20;
}

@media (max-width: 960px){
    .icon_hub{

        margin-left: 200px;
        
    }
    #nav, li a{
        text-decoration: none;
        gap: 30px;
        color: white;
        font-size: 12px;
        
        
    }
    .logo_new{
        font-family: 'Lacquer', cursive;
        font-size: 64pt;
        background-image: linear-gradient( to right, #E30057, #8826D1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-right: 200px;
    }
    .img_back{
        width: 200px;  
        margin-left: 120px;
    }
    .dev{
        margin-right: 30px;
    }

    .name{
        font-size: 18px;
        color: white;
    }
    .developer{
        font-size: 50px;
        color: white;
        margin-top: 15px;
        font-weight: bold;
    }
    .developer1{
        font-size: 50px;
        color: white;
        margin-top: -15px;
        font-weight: bold;
    }
    
    .speak{
        width: 150px;
        margin-top: 30px;
        height: 25px;
        background-image: linear-gradient( to right, #E30057, #8826D1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
    }
    .about{
        font-size: 18px;
        font-weight: bold;
        color: #1B1C20;
    }
}




@media (max-width: 760px){
    .icon_hub{

        margin-left: 150px;
        
    }
    #nav, li a{
        text-decoration: none;
        gap: 30px;
        color: white;
        font-size: 12px;
        
        
    }
    .logo_new{
        font-family: 'Lacquer', cursive;
        font-size: 64pt;
        background-image: linear-gradient( to right, #E30057, #8826D1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-right: 150px;
    }
    .img_back{
        width: 200px;  
        margin-left: 70px;
    }
    .dev{
        margin-right: 10px;
    }

    .name{
        font-size: 18px;
        color: white;
    }
    .developer{
        font-size: 50px;
        color: white;
        margin-top: 15px;
        font-weight: bold;
    }
    .developer1{
        font-size: 50px;
        color: white;
        margin-top: -15px;
        font-weight: bold;
    }
    
    .speak{
        width: 150px;
        margin-top: 30px;
        height: 25px;
        background-image: linear-gradient( to right, #E30057, #8826D1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
    }
    .about{
        font-size: 18px;
        font-weight: bold;
        color: #1B1C20;
    }

}

@media (max-width: 600px){
    #btn_menu{
        display: block;
        margin-left: 10px;
    }
    .icon_hub{

        margin-left: 70px;
        
    }
    .logo_new{
        font-family: 'Lacquer', cursive;
        font-size: 48pt;
        background-image: linear-gradient( to right, #E30057, #8826D1);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-right: 70px;
        margin-right: 10px;
    }
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .scri{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    body{
    
        background-color: #1B1C20;
        padding-left: 20px;
        padding-right: 20px;
    
    }
    .img_back{
        width: 160px;  
        margin-left: 70px;
    }
    .name{
        font-size: 15px;
        color: white;
    }
    .developer{
        font-size: 30px;
        color: white;
        margin-top: 10px;
        font-weight: bold;
    }
    .developer1{
        font-size: 30px;
        color: white;
        margin-top: -10px;
        font-weight: bold;
    }
    #nav{
        display: none;
        position: absolute;
        width: 100%;
        top: 90px;
        right: 0;
        height: calc(100vh - 90px);
        background-image: linear-gradient( to right, #E30057, #8826D1);
        z-index: 10000;

    }

    #menu.active #nav{
        display: block;
        
    }
    #nav li{
        padding-top: 50px;
        margin: 0 1rem;
        
        border-bottom: 2px solid #1B1C20;
    }
    #nav a{
      
        font-size: 28px;
     
    }
    
}

@media (max-width: 400px){
    .body_intro{
        display: block;
    }
    .img{
        display: flex;
        justify-content: end;
    }

    .img_back{
        width: 180px;  
        margin-top: 50px;
    }
    .name{
        font-size: 17px;
        color: white;
    }
    .developer{
        font-size: 40px;
        color: white;
        margin-top: 15px;
        font-weight: bold;
    }
    .developer1{
        font-size: 40px;
        color: white;
        margin-top: -15px;
        font-weight: bold;
    }
    .speak{
        width: 150px;
        margin-top: 20px;
        height: 25px;
        background-image: linear-gradient( to right, #E30057, #8826D1);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
    }
    .about{
        font-size: 18px;
        font-weight: bold;
        color: #1B1C20;
    }
}